$color-464c4c: #464c4c;

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  // // /*定义滑块 内阴影+圆角*/
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border-style: dashed;
    border-color: transparent;
    border-width: 3px;
    background-clip: padding-box;
    background-color: rgba($color: $color-464c4c, $alpha: 0.2);
    transition: all .3s;
  
    &:hover {
      background: rgba($color: $color-464c4c, $alpha: 0.4);
    }
  }